<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-lg-4">
    <a class="navbar-brand text-primary fw-semibold" routerLink="/">
      <i class="bi bi-bookmarks-fill"></i>
      NoteKeeper
    </a>
    <div class="d-flex gap-3">
      <a class="nav-link" routerLink="/categorias/listar">
        <button routerLinkActive="btn-primary text-light" class="btn btn-outline-primary px-4">Categorias</button>
      </a>
      <a class="nav-link" routerLink="/notas/listar">
        <button routerLinkActive="btn-primary text-light" class="btn btn-outline-primary px-4">Notas</button>
      </a>
      <a class="nav-link" routerLink="/arquivados/listar">
        <button routerLinkActive="btn-primary text-light" class="btn btn-outline-primary px-4">Arquivados</button>
      </a>
    </div>
  </div>
</nav>