<div class="card h-100 border-{{ nota.tema }}">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <h5 class="card-title">{{ nota.titulo }}</h5>
      <span class="ms-auto fw-semibold text-muted">Id: {{ nota.id }}</span>
    </div>
    <p class="card-text my-4">{{ nota.conteudo }}</p>
  </div>

  <div class="d-flex gap-1 justify-content-end card-footer bg-transparent">
    
    <div class="card-text m-auto">
      <p class="fw-bolder m-auto">{{nota.categoria.titulo}}</p>
    </div>

    <button
      routerLink="/notas/editar/{{ nota.id }}"
      class="btn btn-outline-{{ nota.tema }}"
      aria-label="Editar"
      ngbTooltip="Editar"
      placement="bottom"
    >
      <i class="bi bi-pen"></i>
    </button>
    <!-- <a routerLink="/notas/editar/{{ nota.id }}">
    </a> -->
  
    <button
      routerLink="/notas/excluir/{{ nota.id }}"
      class="btn btn-outline-{{ nota.tema }}"
      aria-label="Excluir"
      ngbTooltip="Excluir"
      placement="bottom"
    >
      <i class="bi bi-trash"></i>
    </button>
    <!-- <a routerLink="/notas/excluir/{{ nota.id }}">
    </a> -->
  
  </div>
</div>