<div class="mx-auto">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" scope="col">#ID</th>
        <th class="text-center" scope="col"></th>
        <th class="text-start" scope="col">Titulo</th>
        <th class="text-center" scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let categoria of categorias">
      <tr>
        <th class="text-center" scope="row">{{categoria.id}}</th>
        <td></td>
        <td class="text-start">{{categoria.titulo}}</td>
        <td class="text-center col col-lg-2">
          <button
            routerLink="/categorias/editar/{{categoria.id}}"
            class="btn btn-outline-success me-1"
            aria-label="Editar"
            ngbTooltip="Editar"
            placement="bottom"
          >
            <i class="bi bi-pen"></i>
          </button>
          <button
            routerLink="/categorias/excluir/{{categoria.id}}"
            class="btn btn-outline-danger"
            aria-label="Excluir"
            ngbTooltip="Excluir"
            placement="bottom"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>